<div class="cryptosItemsContainer">
    <app-cryptos-table *ngIf="cryptos" [cryptos]='cryptos'></app-cryptos-table>
    <div class="plotsContainer">
        <app-price-charts
        [top5CryptoNameSubj] = "top5CryptoNameSubj"
        [top5CryptoPriceSubj] = "top5CryptoPriceSubj"
             [top5CryptoPriceArr]="top5CryptoPriceArr" 
             [top5CryptoNameArr]="top5CryptoNameArr">
        </app-price-charts>
       <app-dynamic-chart [ws]='ws' class="dynamicChart"></app-dynamic-chart>
    </div>
</div>