<div class="cryptosItemsContainer">
    <app-cryptos-table *ngIf="cryptos" [cryptos]='cryptos'></app-cryptos-table>

    <app-history-line [top5CryptoPriceArr]="top5CryptoPriceArr" 
    [top5CryptoNameArr]="top5CryptoNameArr">
    </app-history-line>

    <ng-container *ngIf="!wsFromDynamicChild; else data">
         <mat-spinner   class="priceSpinner" ></mat-spinner>
    </ng-container>

    <ng-template  #data>
        <app-dynamic-chart [ws]='ws'></app-dynamic-chart>
    </ng-template>
 


</div>