


.cryptosItemsContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .plotsContainer{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        .dynamicChart{
            width: 800;
         
        
    }}
        
   
}