.main-div{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .registerCard{
        width: 300px;
        height: 440px;
        background-color:lightsteelblue;
        color: black ;
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            mat-form-field{
                margin:28px;
                
            }
            mat-error{
                margin-top: 5px;
            }
        }
        button{
            margin-top:8px;
            background-color: rgb(44, 173, 253);
        }
        span {
            text-decoration: underline;
            font-size: 0.8rem;
            margin-top: 15px;
            cursor: pointer;
        }
    }

}